
.cabecalho-imagem {width: 100%;}


       section {background-color: #274131; 
        color: rgb(250, 250, 252);}

        header  {background-color: #274131; 
            color: rgb(250, 250, 252);}